LOCAL_URL=
LOCAL_API_URL=
#DEV
DEV_TEST_USERNAME=
DEV_TEST_PASSWORD=
DEV_URL=
DEV_API_URL=
#STG
STG_TEST_USERNAME=
STG_TEST_PASSWORD=
STG_URL=
STG_API_URL=
#PROD
PROD_TEST_USERNAME=
PROD_TEST_PASSWORD=
PROD_URL=
PROD_API_URL=
