.cs-chat-container .cs-message .cs-message__content {
    color: #F7F7F7;
}

.cs-chat-container .cs-message.cs-message--incoming .cs-message__content {
    background-color: #313131;
}

.cs-chat-container .cs-message.cs-message--outgoing .cs-message__content {
    background-color: #046BA5;
}

.cs-chat-container .cs-message.cs-message--incoming.custom-message .cs-message__content {
    background-color: transparent;
}

.cs-chat-container .cs-message.custom-message {
    justify-content: center;
    max-width: none;
}

.cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper {
    background-color: transparent;
    border: 0px solid #5B6368;
    border-bottom-width: 1px;
    border-radius: 0px;
}
.cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper .cs-message-input__content-editor-container,
.cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper .cs-message-input__content-editor-container .cs-message-input__content-editor {
    background-color: inherit;
    color: #F7F7F7;
}
.cs-chat-container .cs-message-input .cs-message-input__content-editor-wrapper .cs-message-input__content-editor-container .cs-message-input__content-editor::before {
    color: #8D8D8D;
}

.cs-chat-container .cs-button.cs-button--send {
    color: #046BA5;
}

.cs-chat-container .cs-button.cs-button--send:disabled {
    color: #8D8D8D;
}

.cs-chat-container .cs-message__avatar {
    width: auto;
}

.cs-chat-container .cs-message.cs-message--incoming .cs-message__avatar {
    justify-content: flex-start;
}

.cs-chat-container .cs-message.cs-message--outgoing .cs-message__avatar {
    justify-content: flex-end;
}

.cs-chat-container .cs-message.cs-message--incoming .cs-message__content ~ .cs-message__footer .reply-action-button-group {
    display: none;
}

.cs-chat-container .cs-message.cs-message--incoming .cs-message__content ~ .cs-message__footer .reply-action-button-group.feedback-loading,
.cs-chat-container .cs-message.cs-message--incoming .cs-message__content:hover ~ .cs-message__footer .reply-action-button-group,
.cs-chat-container .cs-message.cs-message--incoming .cs-message__content ~ .cs-message__footer .reply-action-button-group:hover {
    display: block;
}

.cs-chat-container .cs-typing-indicator .cs-typing-indicator__text {
    color: #8D8D8D;
}

.cs-chat-container .cs-typing-indicator .cs-typing-indicator__indicator .cs-typing-indicator__dot {
    background-color: #8D8D8D;
}

.cs-chat-container .cs-message-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cs-chat-container .cs-message-list .cs-message-list__scroll-wrapper {
    height: auto;
}

.cs-chat-container .cs-message-list .cs-message-list__scroll-wrapper>.cs-message:nth-last-child(4) {
    margin-bottom: 1rem;
}
